body{
    background-image: url("../imagenes/ITACHI_GOD.png");
    background-repeat:no-repeat;
    background-size:cover;
    color: black;
    background-position: top center;
}

.container{
    background-color: rgba(255,255,255,0.3);
}

header, footer{
    background-color: rgba(255,255,255,0.3);
}

h1{
    font-family: 'Staatliches', cursive;
}

p, li, a{
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}

nav{
    background-color: rgba(255,255,255,0.3);
    margin: auto;
}

.nav1, .nav2{
    border: 1px solid black;
    padding: 5px;
    background-color: #bc2127;
    font-family: 'Staatliches';
    margin: 5px;
    margin-bottom: 0px;
    text-decoration: none;
}

.principal1{
    display: block;
}

.secundario{
    display: flex;
    justify-content:flex-start;
}

.interno{
    border: 0.5px solid black;
    padding: 3px;
    background-color: #bc2127;
    font-family: 'Staatliches';
    font-size: 20px;
    margin: 5px;
    margin-top: 0px;
    text-decoration: none;
}

a:link, :visited{
    color: black;
}

a:hover{
    color: white;
    background-color: black;
}

a:active{
    border: outset white;
}

header h1, header p{
    display: flex;
    justify-content: center;
}

.ima{
    margin: 10px;
    width: 40%;
}

.aside1{
    background-color: rgba(255,255,255,0.1);
    float: right;
    border: dotted 1px;
    padding: 2px;
    margin: 10px;
    width: 30%;
}

.aside2{
    background-color: rgba(255,255,255,0.1);
    float: right;
    border: dotted 1px;
    padding: 2px;
    margin: 10px;
    width: 45%;
}

.aside3{
    background-color: rgba(255,255,255,0.1);
    float: right;
    border: dotted 1px;
    padding: 2px;
    margin: 10px;
    width: 30%;
}

.fotos{
    display: flex;
    justify-content: space-around;
}

.lateral{
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.card{
    margin-bottom: 10%;
}
.imagen1{
    display: flex;
    justify-content: center;
}