.nav {
    background-color: #C84B31;
}

.navbar,
footer {
    background-color: #161616;
    color: #ECDBBA;
}

.tab-pane {
    background-color: rgb(236, 219, 186);
}

body {
    background-image: url(../img/diagon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

footer a {
    color: #ECDBBA;
}

.texto-blanco {
    color: white;
}

.pad {
    padding: 1.5%;
}

.nav-link {
    color: white;
}

.centro {
    display: flex;
    justify-content: center;
}

.derecha {
    display: flex;
    justify-content: right;
}

.col-sm-1 {
    padding-left: 7%;
}

.pad-titulo {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1.5%;
}

h3 {
    padding-top: 1.5%;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
    font-size: 2em;
}

h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
}

#texto-inicio {
    font-size: 1.5em;
}

#cita {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
}

#firma {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 3em;
}

.difuminado {
    backdrop-filter: blur(2px);
}

#aclara {
    font-size: 1.5em;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #161616;
}

.registro {
    padding: 20px;
    border-radius: 20px;
}